* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.title {
    border-style: solid; color: black;
    text-align: center;
    background-color: pink;
    margin: 8px;
    padding: 8px;
}

.recipes {
    border-style: solid; color: black;
    text-align: center;
    background-color: pink;
    margin: 8px;
    padding: 8px;
}